.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000000a9;
}

.loader {
  left: 50%;
  top: 30%;
  z-index: 1001;
  position: absolute;
}