$primary: #979797;
$secondary: #ec006a;
$white: #fff;
$gray: #9b9b9b;

.SearchBox {
  background-color: hsl(210, 5%, 15%);
 
  margin-top: -2vh;
  width: 50vw;
  
}

.searchbox__group {
  margin-top: 2vh;
  position: relative;
  padding: 15px 0 0;
  width: 40vw;
  display: inline-block;

}
.add_music {
  background-color: rgb(20, 20, 20);
  width: 12vh;
  height: 12vh;
  float: right;
  transition: 0.2s;

  &:hover{
    background-color: #aa185a;
  }

}

.lupa {
  margin-top: 2.7vh;
  margin-right: 0.9vh;

}

.form__field {
  font-family: inherit;
  width: 40vw;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;

  }
  padding-bottom: 6px;  

  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
